html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

header {
  background: url(../img/glasses-bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 1.5rem;
  height: 30rem;
}

nav {
  background: cadetblue;
  color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.main-banner {
  background: white;
}

.title {
  background-color: cadetblue;
  color: white;
}

footer {
  background-color: azure;
}
