html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

header {
  background: url(../img/glasses-bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 1.5rem;
  height: 30rem;
}

nav {
  background: cadetblue;
  color: white;
}

.main-banner {
  background: white;
}

.title {
  background-color: cadetblue;
  color: white;
}

footer {
  background-color: azure;
}
